[submodule "Limnova/thirdparty/spdlog"]
	path = Limnova/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Limnova/thirdparty/imgui"]
	path = Limnova/thirdparty/imgui
	url = https://github.com/ocornut/imgui
[submodule "Limnova/thirdparty/glm"]
	path = Limnova/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "Limnova/thirdparty/vulkan"]
	path = Limnova/thirdparty/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "Limnova/thirdparty/volk"]
	path = Limnova/thirdparty/volk
	url = https://github.com/Limnovoid/limnova-volk
[submodule "Limnova/thirdparty/glfw"]
	path = Limnova/thirdparty/glfw
	url = https://github.com/Limnovoid/limnova-glfw
[submodule "Limnova/thirdparty/yaml-cpp"]
	path = Limnova/thirdparty/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
