[submodule "Limnova/thirdparty/spdlog"]
	path = Limnova/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Limnova/thirdparty/glfw"]
	path = Limnova/thirdparty/glfw
	url = https://github.com/glfw/glfw
